
#content {
    max-width: 720px;
    max-height: 340px;
}

#principal{
    width: 100%;
    height: 100%;
}
.cuadrosuperiror {
    background-color: red;
    border: 2px solid blue;
    text-decoration: none;
    height: 45%;
    width: 100%;
    overflow: hidden;
}

.cuadrosuperiror ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.cuadrosuperiror ul li div {
    background-color: green;
    border: solid 1px black;
    height: 100%;
    width: 45%;
    float: left;
}


.cuadroinferior {
    background-color: blueviolet;
    text-decoration: none;
    border: 2px solid blue;
    height: 45%;
    width: 100%;
    overflow: hidden;
    z-index: 100;
}

.cuadroinferior ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cuadroinferior ul li div {
    float: left;
    height: 100%;
    width: 50%;
    border: 1px solid black;
}

.cuadro3 iframe {
    height: 100%;
    width: 100%;

}

.cuadro4{
    height: 100%;
    width: 100%;
}