.principal {
    height: 450px;
    width: 100%;
    background-color: blue;
}

.cortepelo {
    width: 200px;
    height: 200px;
    background-color: red;
}

.imagen {
    width: 200px;
    height: 200px;
    border-radius:160px;
    border:10px solid #666;
}